<h1 class="intro"><%= @stamp.category%></h1>

<h3 class="summary">Tag details:</h3>

<ul>
  <li>ID: <%= @stamp.id %></li>
  <% @stamp.merchant_check.each do |merchant| %>
    <li><%= merchant.name.upcase %></li>
  <% end %>
  <form action="/stamps/<%= @stamp.id %>/delete" method="POST">
    <input class="btn btn--danger" type="submit" value="Delete" />
  </form>
</ul>

<ul>
    <form action="/stamps/<%= @stamp.id %>/edit" method="post">
      <input type="text" name="category" placeholder="" value="<%= @stamp.category%>">
      <input class="btn btn--action" type='submit' value="Edit">
    </form>
</ul>
