<h1><%= @merchant.name %></h1>

<h3>Merchant details:</h3>

<ul>
  <li>ID: <%= @merchant.id %></li>
  <% @merchant.stamp_check.each do |stamp| %>
    <li>Tag: <%= stamp.category.upcase %></li>
  <% end %>
  <form action="/merchants/<%= @merchant.id %>/delete" method="POST">
    <input class="btn btn--danger" type="submit" value="Delete" />
  </form>
</ul>

<ul>
    <form action="/merchants/update<%= @merchant.id %>/edit" method="post">
      <input type="text" name="name" placeholder="" value="<%= @merchant.name%>">
      <input class="btn btn--action" type='submit' value="Edit">
    </form>
</ul>
