<h1>Transactions</h1>

<form class="" action="/transactions/date_finder" method="GET">
 <label class="" for="">
   Filter by date:
     <input id="" type="date" name="date">
     <input type="submit" value="filter results">
 </label>
</form>

<form class="" action="/transactions/merchant_finder" method="GET">
 <label class="" for="">
   Filter by merchant:
     <input id="" type="text" name="name">
     <input type="submit" value="filter results">
 </label>
</form>

<form class="" action="/transactions/tag_finder" method="GET">
 <label class="" for="">
   Filter by tag:
     <input id="" type="text" name="category">
     <input type="submit" value="filter results">
 </label>
</form>

<a class="" href="/transactions/new">New transaction</a>

<div class="trans_table">
<table>
  <tr>
    <td>ID</td>
    <td>TAG</td>
    <td>MERCHANT</td>
    <td>CHARGE</td>
    <td>DATE</td>
    <td>VIEW</td>
    <td>DELETE</td>
  </tr>
  <% for transaction in @transaction_list %>
    <tr>
      <td><%= transaction.id %></td>
      <td><%= transaction.stamp_finder.category.capitalize %> </td>
      <td><%= transaction.merchant_finder.name %> </td>
      <td>£<%= transaction.charge %></td>
      <td><%= transaction.date %></td>
      <td><a href="/transactions/<%= transaction.id %>">
        <img alt="paw view" src="/images/paw1.png"></td>
      <td><form action="/transactions/<%= transaction.id %>/delete" method="POST">
        <input class="btn btn--danger" type="submit" value="Delete" />
      </form></td>
    </tr>
  <% end %>
</table>
</div>

<ul>
  <table>
    <td></td>
    <td>Charity Total:</td>
    <td>£<%= @charity_total%></td>
    <td></td>
  </table>
</ul>
