<h1>Transactions</h1>

<p class="btn--wrapper">
  <a class="btn btn--action" href="/transactions/new">New transaction</a>
</p>

<ul>
  <% for transaction in @transaction_list %>
    <td>T-ID:<%= transaction.id %></td>
    <td>TAG:<%= transaction.stamp_finder.category.capitalize %> </td>
    <td>MERC:<%= transaction.merchant_finder.name %> </td>
    <td>CRGE: £<%= transaction.charge %></td>
    <td>D/T:<%= transaction.date %></td>
    <td>Charitable:<%= transaction.is_charitable %></td>

    <td><a href="/transactions/<%= transaction.id %>">View</a></td>
    <td>
      <form action="/transactions/<%= transaction.id %>/delete" method="POST">
        <input class="btn btn--danger" type="submit" value="Delete" />
      </form>
    </td>
    <td>
      <form action="/transactions/<%= transaction.id %>/charitable" method="POST">
        <input type="checkbox" name="vehicle" value="Charity" unchecked>
        <input type="submit" value="Submit">
      </form>
    </td>
  <% end %>
</ul>
