<h1 class="intro">Transactions</h1>

<p class="intro_p">Wages and Wags!</p>

<table class="searchbar">
  <td>
  <form class="textbox_extra" action="/transactions/date_finder" method="GET">
   <label>
       <input id="" type="date" name="date">
       <input type="submit" value="filter results">
   </label>
  </form>
  </td>
    <td>
    <form class="textbox_extra" action="/transactions/merchant_finder" method="GET">
     <label>
         <input id="" type="text" name="name">
         <input type="submit" value="filter results">
     </label>
    </form>
    </td>
    <td>
    <form class="textbox_extra" action="/transactions/tag_finder" method="GET">
     <label>
         <input id="" type="text" name="category">
         <input type="submit" value="filter results">
     </label>
    </form>
    </td>
</table>

<p class="new_button">
  <a href="/transactions/new">Add a Transaction?</a>
</p>

<div class="intro_h3">
  <ul>
    <table>
      <td></td>
      <td>Charity Total:</td>
      <td>£<%= @charity_total%></td>
      <td></td>
    </table>
  </ul>
</div>

<div class="trans_table">
<!-- <table id="maria"> -->
<table>
  <tr>
    <td>ID</td>
    <td>TAG</td>
    <td>MERCHANT</td>
    <td>CHARGE</td>
    <td>DATE</td>
    <td>VIEW</td>
    <td>DELETE</td>
  </tr>
  <% for transaction in @transaction_list %>
    <tr>
      <td><%= transaction.id %></td>
      <td><%= transaction.stamp_finder.category.capitalize %> </td>
      <td><%= transaction.merchant_finder.name %> </td>
      <td>£<%= transaction.charge %></td>
      <td><%= transaction.date %></td>
      <td><a href="/transactions/<%= transaction.id %>">
        <img alt="paw view" src="/images/paw1.png"></td>
      <td><form action="/transactions/<%= transaction.id %>/delete" method="POST">
        <input type="image" src="/images/poo1.png" alt="Submit Form" />
      </form></td>
    </tr>
  <% end %>
</table>
</div>
